<!-- <nav>
    <ul>
        <a href="/"><img src="/assets/img/electorials-logo.jpeg"></a>
        {% for item in site.data.navigation %}
        <li class="{{ item.class }}">
            <a href="{{ item.link }}">{{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>
</nav> -->

<nav role="navigation">
    <a href="/" id="logo"><img src="/assets/img/electorials-logo.jpeg"></a>
    <ul class="menu">
        {% for item in site.data.navigation.mainnav %}
        <li class="{{ item.class }}"aria-haspopup="true">
            <a href="{{ item.link }}">{{ item.name }}</a>
            {% if item.subitems[0] %}
                <ul class="dropdown" aria-label="submenu">
                {% for subitem in item.subitems %}
                    <li>
                        <a href="{{ subitem.link }}">{{ subitem.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
