/* This file styles just the grids and banners on the Projects and Reviews pages. It builds upon styles.css while keeping the code separate from the main stylesheet for easier maintainability. */

/*** Banner rules ***/
.banner {
    --banner-height: 14rem;
}

.banner-image {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

/*** Grid rules ***/
.grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--item-count), 1fr);
    grid-gap: 1rem;

    list-style-type: none;
    width: 100%;
    margin-bottom: 3.125rem !important;
}

.grid-item:nth-child(odd) a {
    background: #5a5f63;
    color: white;
}

.grid-item:nth-child(odd) a:hover,
.grid-item:nth-child(odd) a:focus {
    text-decoration: white underline;
}

.grid-item:nth-child(even) a {
    background: white;
    color: #5a5f63;
    border: .3rem solid #5a5f63;
}

.grid-item:nth-child(even) a:hover,
.grid-item:nth-child(even) a:focus {
    text-decoration: #5a5f63 underline;
}

.grid-item a {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
    padding: .2rem;
}

.grid-item p {
    line-height: 1.25rem;
    padding: .5rem .75rem;
    margin-bottom: 0rem;
}

/* For screens whose resolution width is 800px or greater */
@media only screen and (min-width: 800px) {
    .banner {
        --banner-height: 19rem;
    }

    .grid-container {
        grid-auto-flow: column;
        grid-template-columns: repeat(var(--columns-for-items), 1fr);
        grid-template-rows: repeat(var(--rows-for-items), 1fr);
    }

    .grid-item a {
        padding: .5rem .75rem;
    }
}
