:root {
    --nav-height: 5rem;
    --main-content-width: 64rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/***** Globals *****/
* {
    line-height: 1.75rem;
    font-family: 'Arial', sans-serif;
}

div {
    margin: 2rem auto;
}

a {
    text-decoration: none;
}

main a {
    color: #4e4e4e;
    text-decoration: none;
}

main a:focus:not(.links a) {
    outline: none;
}

main a:hover:not(.links a),
main a:focus:not(.links a) {
    text-decoration: #00e .125rem underline;
}

body {
    overflow-x: hidden;
}

/***** Nav rules *****/
nav {
    position: fixed;
    min-width: 100%;
    height: calc(var(--nav-height) + .125rem);
    /* .125rem is border width.
    Replaces outline declaration issue that would
    flow outside of nav. Also keeps nav content height at 4rem when border is
    added.*/
    background-color: white;

    font-family: 'Monteserrat', sans-serif;
    text-align: center;

    z-index: 1;
    /* Without this, the hr lines strangely would be visible in the navbar
    because of their opacity declaration. */

    border-bottom: #ff6100 .125rem solid;
    /* Adds bottom outline to the navbar. */
}

.logo {
    float: left;
    margin: .5rem;
    height: 100%;
}

.logo,
.logo img {
    max-height: 4rem;
    display: inline;
    width: 9.8rem;
}

.logo img {
    padding: .300rem;
}

/*** Nav menu ***/
.menu {
    list-style-type: none;
    margin: 0 1em;
    height: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item a {
    --item-width: 100%;
    display: flex;
    padding: .125rem .875rem;
    font-size: .875em;
    width: var(--item-width);
    transform: translateX(calc((100% - var(--item-width)) / 2 ));
    line-height: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: 900;
}
/* Navbar overflows at 1175px. Later create media query to change styling at
1180px or somewhere wider. */

.menu-item a:hover {
	border-bottom: 4px solid #ff6100;;
}

/** Dropdown menu rules start **/
.dropdown li:hover {
    background: #a2a2a2;
}

nav .menu .menu-item .dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    display: none;
    background: #e2e2e2;
}

nav .menu .menu-item:hover > .dropdown,
nav .menu .menu-item .dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

nav .menu .menu-item .dropdown li {
    clear: both;
    width: 100%;
}

nav ul.dropdown li.menu-item {
    font-family: 'Monteserrat', sans-serif;
    text-align: center;
}
/** Dropdown menu rules end **/

/***** Main content rules *****/


main {
    padding: var(--nav-height) 0 0;
    border-bottom: solid #ff6100 .125rem;
    font-weight: bold;
}

/* Selects all children of <main> that *aren't* .hero, .banner, nor .section-border */
main > :not(.hero):not(.banner):not(.section-border) {
    margin: 1.125rem auto;
    padding: 0 2rem;
    max-width: var(--main-content-width);
    color: #4e4e4e;
}

main > :first-child {
    margin-top: 3.125rem;
}

main > :last-child {
    margin-bottom: 3.125rem;
}

main > header[class] {
    margin-top: 0;
}

/*** Banner/hero rules ***/

.hero {
    --hero-height: 35rem;
    width: 100vw;
    margin: 0 0 3.125rem;
    min-height: var(--hero-height);
    /* Whole header can expand from minimum height of 35rem. Will never shrink below 35rem. */
}

.hero-image {
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    var(--hero-image);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    var(--hero-image);
    background: linear-gradient(to top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    var(--hero-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-filter: blur(2px);
    filter: blur(2px);

    height: var(--hero-height);
    margin: 0 auto;
}

.hero-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ffff;
    transform: translate(0%,-50%);
}

.hero-text * {
    line-height: 2rem;
}

.hero-text h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 40px;
    position: relative;
    bottom: 430px;
    font-weight: bold;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    bottom: 490px;
}

.hero-text blockquote {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    position: relative;
    bottom: 210px;
}

.quote-text {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 200px;
    bottom: 235px;
}

.banner {
    --banner-height: 16rem;
    width: 100vw;
    margin: 0 0 3.125rem;
    min-height: var(--banner-height);
    position: relative;
}

.banner-image {
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    var(--banner-image);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    var(--banner-image);
    background: linear-gradient(to top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    var(--banner-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-filter: blur(1px);
    filter: blur(1px);

    height: var(--banner-height);
    margin: 0 auto;
}

.product-reviews-banner-image {
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  var(--banner-image);
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  var(--banner-image);
  background: linear-gradient(to top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  var(--banner-image);
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-filter: blur(1px);
  filter: blur(1px);

  height: var(--banner-height);
  margin: 0 auto;
}

.gen-elec-banner-image {
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  var(--banner-image);
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  var(--banner-image);
  background: linear-gradient(to top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  var(--banner-image);
  background-position: 50% 56%;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-filter: blur(1px);
  filter: blur(1px);

  height: var(--banner-height);
  margin: 0 auto;
}

.company-reviews-banner-image {
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  var(--banner-image);
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  var(--banner-image);
  background: linear-gradient(to top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  var(--banner-image);
  background-position: 50% 58%;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-filter: blur(1px);
  filter: blur(1px);

  height: var(--banner-height);
  margin: 0 auto;
}

.banner-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ffff;
    top: 14rem;
    transform: translate(0%,-50%);
    top: 50%;
    margin: 0 auto;
}

.banner-text h2 {
    line-height: 2.25rem;
    font-family: 'Verdana', sans-serif;
    font-size: 1.75rem;
    margin: 0 1.5rem;
    font-weight: bold;
}

.hero-image,
.banner-image {
    clip-path: inset(0);
}

/*** Section rules ***/
.section-border {
    height: .25rem;
    background-color: #ff6100;
    margin: 3.125rem auto;
    width: 75vw;
    max-width: 45rem;
}
/***********
About .section-border:
Using the ::before and ::after pseudo-classes for the section tag doesn't seem
to make adding a border easy without manipulating margin and padding values.

Margin values as so to have it aligned to where the content begins and ends.
Viewport width to change the border width according to viewport width, but
stops growing at 45rem; it stays below the `section > *` max-width value, while
not being too long or short regardless of viewport width.
If there is no max-width, the border would reach into the margins when on a
wide viewport.
***********/


/* Targets all immediate children of the section tags.
- Content will expand as it grows from small to a max of 60rem. Wider viewport
would create the whitespace similar to the original site.
- Adds equal top and bottom margins within each coloured section for some nice
uniformity, while also horizontally centring the children and keeping the
background colour stretched to the viewport edges.
 */
section > * {
    margin: 1.125rem auto;
}

section h2 {
    text-align: center;
    /* margin-bottom: 1.5rem; */
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
}

section h4 {
    font-size: 1.5rem;
}

section hr {
    margin: 2rem auto;
    border-color: black;
    opacity: 0.375;
    /* ^^^ Changes the opacity of the hr lines. Set at 0.375 to maintain
    visibility, while also sticking close to the background colours'
    saturation levels. */
}

section p,
section ul li,
section ol li {
    font-size: 1rem;
}

section li {
    margin: 0 1rem;
}

section picture img {
    display: block;
    max-height: 35rem;
    max-width: calc(100vw - 4.75rem);
    /* Keeps images width within width of section */
}

/* Targets <ul> blocks with links in their <li> tags, to give them flex rules */
.links {
    list-style-type: none;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;
    width: 100%;
    text-align: center; /*Centres all text in the <a> tags*/
}

.links li {
    margin: 1rem;
    text-align: center;
}

.links a {
    padding: 0.75rem 1.25rem;
    margin: 0 5rem;

    border: .25rem solid #5a5f63;
    background: white;
    color: #5a5f63;
    text-decoration: none;
    font-weight: 600;
    border-radius: 1.3rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a:hover {
  background: #5a5f63;
  color: white;
}

/***** Footer content rules *****/
footer {
    padding: 0 1.5rem;
    max-width: 100%;
    /* ^^^ These three rules bring the footer close to how the main content is
    laid out. */
    text-align: center;
    background-color: white;
    font-family: 'Lato', sans-serif;
}

footer > div {
    margin: auto;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 0px 0;
}

/* For screens whose resolution width is 800px or greater */
@media only screen and (min-width: 800px) {
    :root {
        --nav-height: 5rem;
    }

    nav {
        height: calc(var(--nav-height) + .125rem);
    }

    .logo {
        margin: 0.5rem;
    }

    .logo,
    .logo img {
        max-height: 4rem;
        width: 12.35rem;
    }

    .menu-item a {
        padding: 1.125rem .5rem;
        line-height: 1.6rem;
    }

    .hero-text * {
        margin: 2rem 2.5rem;
    }

    .hero h2 {
        margin: 2em 4rem;
    }

    .banner {
        --banner-height: 28.125rem;
    }

    .banner-text h2 {
        font-size: 2.125rem;
        margin: 0 2.5rem;
    }
}

/*
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }
*/
