:root {
    --nav-height: 3.75em;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/***** Globals *****/
* {
    line-height: 1.8em;
    font-family: sans-serif;
}

div {
    margin: 2rem auto;
}

body {
    overflow-x: hidden;
}

/***** Nav rules *****/
nav {
    position: fixed;
    min-width: 100%;
    height: var(--nav-height);

    background-color: white;

    font-family: 'Monteserrat', sans-serif;
    text-align: center;
}

.logo {
    float: left;
    margin: 0 1em;
}

.logo,
.logo img {
    max-height: var(--nav-height);
    display: inline;
}

/*** Nav menu ***/
.menu {
    list-style-type: none;
    float: right;
    margin: 0 1em;
    height: var(--nav-height);

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item a {
    --item-width: 100%;
    display: flex;
    padding: 1.125rem .875rem;
    font-size: .875em;
    width: var(--item-width);
    transform: translateX(calc((100% - var(--item-width)) / 2 ));
    line-height: 1.6rem;
}
/* Navbar overflows at 1175px. Later create media query to change styling at
1180px or somewhere wider. */

.menu-item a:hover {
    background-color: #e2e2e2;
}

/** Dropdown menu rules start **/
.dropdown li:hover {
    background: #a2a2a2;
}

nav .menu .menu-item .dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    display: none;
    background: #e2e2e2;
}

nav .menu .menu-item:hover > .dropdown,
nav .menu .menu-item .dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

nav .menu .menu-item .dropdown li {
    clear: both;
    width: 100%;
}

nav ul.dropdown li.menu-item {
    font-family: 'Monteserrat', sans-serif;
    text-align: center;
}
/** Dropdown menu rules end **/

/***** Main content rules *****/


main {
    padding: calc(var(--nav-height) - 2em) 0 0;
}

/* .content > *,
.content > div > * {
    margin: auto 2rem;
} */

.content {
    margin: 2rem auto 0;
}


/*** Banner/hero rules ***/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* These three above centre all content at the exact middle of the X and Y axes */

    flex-direction: column;
    /* Any siblings under .banner will vertically stack rather than sit next to one another */

    padding: 5.5em;
    margin: auto;

    /* background-image: url(https://electorials.com/uploads/1/0/1/7/101767294/background-images/944554335.png); */
    /* This won't be implemented, as it's a sort of proof of concept.
    The general markup will be this for all pages with the hero/banner section:
    <div class="banner" style="background-image: url({{ page.banner-image }});"><h1>Page Title</h1></div>
    {{ page.background-image }} will be defined in each page's front matter variables.
    The background-image property in the style attribute might be something like this:
    background-image: url(/assets/img/arduino/banners/{{ page.banner-image }})
    Might have to use Modernizr.js for using WebP images as the background, while also using JPEG and PNG images on older browsers (https://css-tricks.com/using-webp-images/) */
}

.hero {
    text-align: center;
    width: 100vw;
    margin: 0;
    min-height: 35em;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.hero-text {
    margin-top: 2rem;
    display: inline-block;
    font-size: 1.5em;
    background: rgba(90, 95, 99, 0.625);
    width: 100%;
    padding: 1.25rem 1.25rem 3.75rem;
}

.hero h1, .hero h2 {
    text-transform: uppercase;
    font-family: 'Patua One', serif;
    color: rgb(177, 245, 155);
}

.hero h2 {
    margin: 0 4em;
}

.hero p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 1.5em;
    color: rgb(255, 215, 191);
}

/*** Section rules ***/
section {
    padding: 2rem 4rem;
}

/* Targets all immediate children of the section tags.
Adds equal top and bottom margins within each coloured section for some nice
uniformity. */
section > * {
    margin: 1.125rem 0;
}

section h2 {
    text-align: center;
    /* margin-bottom: 1.5rem; */
    font-size: 2rem;
}

section h4 {
    font-size: 1.75rem;
}

section p,
section ul li,
section ol li {
    font-size: 1.25rem;
}

section li {
    margin: 0 1rem;
}

.quote blockquote {
    font-size: 1.5rem;
}

.quote p {
    text-align: right;
    font-size: calc(15rem / 9);
    color: #8d2424;
    font-weight: 700;
}

/* Targets <ul> blocks with links in their <li> tags, to give them flex rules */
.links {
    list-style-type: none;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;
    width: 100%;
    text-align: center; /*Centres all text in the <a> tags*/
}

.links li {
    margin: 1rem;
    text-align: center;
}

.links a {
    padding: 0.75rem 1.25rem;
    margin: 0 5rem;

    border: .25rem solid #5a5f63;
    background: white;
    color: #5a5f63;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/***** Footer content rules *****/
footer {
    padding: 2.75em 2em;
    min-width: 100%;
    background-color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;

    border-top: 1px solid red;
}

footer > div {
    margin: 2rem auto;
}

footer hr {

}

#footer-links ul {
    list-style-type: none;
    margin: 2em;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#footer-links,
#footer-links ul {
    margin-top: 0;
}

/* This li is .footer-item */
footer ul li {
    margin: .5em;
    font-size: 1em;
}

.footer-item a {
    display: block;
    padding: 0.75em;
    font-weight: 700;
}

.footer-item a:hover {
    background-color: #e2e2e2;
}

#footer-banner {
    font-family: 'Patua One', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#copyright {
    float: right;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
