<!-- <nav>
    <ul>
        <a href="/"><img src="/assets/img/electorials-logo.jpeg"></a>
        {% for item in site.data.navigation %}
        <li class="{{ item.class }}">
            <a href="{{ item.link }}">{{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>
</nav> -->

<nav>
    <ul>
        <a href="/"><img id="logo" src="/assets/img/electorials-logo.jpeg"></a>
        {% for item in site.data.navigation.mainnav %}
        <li class="{{ item.class }}">
            <a href="{{ item.link }}">{{ item.name }}</a>
            {% if item.subitems[0] %}
                <ul>
                {% for subitem in item.subitems %}
                    <li>
                        <a href="{{ subitem.link }}">{{ subitem.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
