<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} – {{ site.title }}</title>
        <meta name="description" content="Electorials is a free website for the electronic community hobbyist.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon stuff to add later -->

        <style>
            * {
                padding: 0;
                margin: 0;
            }
            /* Styling here to build upon normalize.css, and not undo normalize.css's margin declaration for h1. */
        </style>

        <link rel="stylesheet" href="/assets/css/normalize-8.0.1.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>

    <body>

        {% include nav.html %}
        <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <main>
            <div class="content">
                {{ content }}
            </div>
        </main>

        {% include footer.html %}
    </body>
</html>
